.button {
  color: #fff;
  /* padding: 0.75rem 2rem; */
  display: inline-block;
  position: relative;
  z-index: 0;
  background: none;
  border: none;
  box-shadow: "2px 1000px 1px #fff inset";
  transition: "all 0.3s ease-out";
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2.5px;
  border-radius: 5rem;
  background: linear-gradient(225deg, #7d0202, #b25f4c);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: "all 0.3s ease-out";
}
.button:hover:before {
  mask-composite: initial;
}
